<form [formGroup]="form">
  <h3 class="form-section__title text-center mb-4">{{ title }}</h3>
  <div class="row">
    @for(field of fields; track $index) {
    <div class="col-6 mb-3">
      <label class="mb-2" for="{{ field.name }}">{{ field.label }}</label>
      @if(hasRequiredValidator(field.validators)) {
      <span class="text-danger ms-2">*</span>
      }
      <div class="input-group">
        @if(field?.addOn) {
        <span class="input-group-text" id="basic-addon1">
        {{ field.addOn }}
        </span>
        }
        <input
          type="{{ field.type }}"
          class="form-control"
          id="{{ field.name }}"
          placeholder="{{ field.placeholder }}"
          [formControlName]="field.name"
          [value]="field.value"
          (input)="handleInput(field.name)"
          [ngClass]="{
            'is-invalid':
              !form.controls[field.name].valid &&
              form.controls[field.name].touched,
            'is-valid':
              form.controls[field.name].valid
          }"
          [attr.required]="hasRequiredValidator(field.validators)"
        />
      </div>
      <!-- TODO: criar um service para tratar mensagens e dicas -->
      @if(!form.controls[field.name].valid && form.controls[field.name].touched)
      {
      <div class="text-danger mt-1">
        @if(form.controls[field.name].hasError('required')) {
        <div>Campo obrigatório.</div>
        } @if(form.controls[field.name].hasError('email')) {
        <div>E-mail inválido.</div>
        } @if(form.controls[field.name].hasError('pattern')) {
        <div>Formato inválido.</div>
      } @if(form.controls[field.name].hasError('invalidDate')) {
        <div>Data inválida</div>
        }
      </div>
      }
    </div>
    }
  </div>
</form>
