<main class="form-main">
  <app-form-section
    [id]="id"
    [fieldsValues]="fieldsValues"
    [fields]="fields"
    [title]="'Dados Pessoais'"
    (validationResultEmitter)="emitSubmitButtonState($event)"
  />
  <!-- <app-address-form-section
    (addAddress)="addAddress($event)"
    [addressData]="addressData"
    [headersColumns]="addressTableHeaders"
  >
    <app-form-section
      [fields]="formSection.personalAddresses"
      [title]="'Endereços'"
    />
  </app-address-form-section> -->
</main>
