.form-footer {
  width: 100%;
  min-width: 100vw;

  // position: fixed;
  // bottom: 0;
  // left: 0;

  padding: 0.8rem 1.2rem;

  background-color: var(--grey-01);
  border-top: 1px solid var(--grey-02);
}
