<section class="form-container">
  <app-context-header
    [title]="headerTitle"
    [showButton]="showHeaderButton"
  />
  @if(loading) {
    <app-form-placeholder />
  } @else if(errorObj.isActive) {
    <div class="error_wrapper">
      <app-error-display [title]="'Ooops...'" [message]="errorObj.message" />
    </div>
  } @else {
    <app-form-main
      [id]="id"
      [fields]="formSection.personalDatas"
      [fieldsValues]="personDatas"
      (submitButtonStateEmitter)="setSubmitButtonState($event)"
      (formValuesEmmiter)="setFormValues($event)"
    />
  }
  <app-form-footer
    [arrButtons]="formButtons"
  />
</section>
